.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    max-height: 160px;
}

.sidebar p {
    line-height: 1.4;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-weight: normal;
}

.sidebar p.error {
    font-style: italic;
    color: red;
    font-size: 11px;
}

.sidebar.collapsed {
    width: 40px;
}

.sidebar ul {
    padding-left: 0;
}

@media (min-width: 768px) {
    .sidebar {
        left: 10px;
        top: 10px;
        bottom: 10px;
        transition: width 500ms;
    }
    .form-group input {
        float: left;
        width: 100%;
        margin: 8px 0;
    }
    #distance {
        width: 100%;
    }
    .form-group select {
        float: left;
        margin-top: 9px;
        margin-left: 0;
        clear: both;
    }
}

.sidebar {
    max-height: 440px
}

.sidebar {
    max-height: 440px
}

.form-group {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
    position: relative;
}

#perfect-circle + div,
#perfect-circle + div + div,
#perfect-circle + div + div + div,
#perfect-circle + div + div + div + div,
#default-values + div,
#default-values + div + div,
#default-values + div + div + div,
#default-values + div + div + div + div,
#default-values + div + div + div + div + div {
    height: auto;
}

#perfect-circle:checked + div,
#perfect-circle:checked + div + div,
#perfect-circle:checked + div + div + div,
#perfect-circle:checked + div + div + div + div,
#default-values:checked + div,
#default-values:checked + div + div,
#default-values:checked + div + div + div,
#default-values:checked + div + div + div + div {
    height: 0;
}

.leaflet-draw {
    display: none;
}

.form-group > div {
    float: left;
    width: 100%;
    clear: left;
    overflow: hidden;
}

.form-group input {
      width: 190px;
      margin: 3px 0;
      box-sizing: border-box;
      float: right;
}
.form-group select{
    float: right;
    margin-top: 4px;
    margin-left: 8px;
    clear: none;
}
#distance {
    max-width: 132px;
}
.form-group label {
    position: relative;
    top: 6px;
    float: left;
}

button {
    margin: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    color: #fff !important;
    background-color: #EE5340;
    background-image: none;
    padding: 8px 10%;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-weight: normal;
    height: auto;
    letter-spacing: normal;
    line-height: 1.428571429;
    outline: none;
    text-align: center;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    word-spacing: normal;
}

button:hover,
button.active {
background-color: #FF7967;
}

input[type="checkbox"] {
    height: 24px;
}

#submit-radius,
#submit-network {
    max-width: 190px;
    float: right;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        width: 305px;
    }
    .form-group input {
        clear: left;
        float: left;
        width: 100%;
        margin: 8px 0;
    }
    #distance {
        width: 100%;
    }
    .form-group select {
        float: left;
        margin-top: 9px;
        margin-left: 0;
        clear: both;
    }

    #submit-radius,
    #submit-network {
    max-width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
        width: 390px;
    }
    #submit-radius,
    #submit-network {
    max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: 460px;
    }
}

.sidebar-tabs {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.sidebar-tabs > li {
    width: 100%;
    height: 40px;
    color: #333;
    font-size: 12pt;
    overflow: hidden;
    transition: all 80ms;
}

.sidebar-tabs > li:hover {
    color: #000;
    background-color: #eee;
}

.sidebar-tabs > li.active {
    color: #fff;
    background-color: #EE5340;
}

.sidebar-tabs > li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.sidebar-content {
    position: absolute;
    left: 40px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-pane {
    display: none;
    right: 0;
    box-sizing: border-box;
    padding: 10px 20px;
}

.sidebar-pane.active {
    display: block;
}
.sidebar-pane > * {
    float: left;
    clear: both;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
        width: 265px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
        width: 350px;
    }
}

@media (min-width: 1200px) {
    .sidebar-pane {
        width: 420px;
    }
}

.sidebar-map {
    margin-left: 40px;
}

@media (min-width: 768px) {
    .sidebar-map {
        margin-left: 0;
    }
}

.sidebar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .sidebar {
        border-radius: 4px;
    }

    .sidebar.leaflet-touch {
        border: 2px solid rgba(0, 0, 0, 0.2);
    }

    .sidebar.collapsed ~ .sidebar-map .leaflet-left {
        left: 50px;
    }
}

@media (min-width: 768px) {
    .sidebar-map .leaflet-left {
        transition: left 500ms;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-map .leaflet-left {
        left: 315px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-map .leaflet-left {
        left: 400px;
    }
}

@media (min-width: 1200px) {
    .sidebar-map .leaflet-left {
        left: 470px;
    }
}

body {
    color: #333;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
h2 {
    margin: 5px 0 20px 0;
}

.quick {
    margin: 10px 0 0 0;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

#id {
    margin: 0 auto;
    width: 1024px;
}

#map {
    height: 500px;
}

.visible {
    visibility: visible !important;
}

.leaflet-container {
    background: url('http://client-solutions.livefyre.com/cid/maps/ajax-loader.gif') center center no-repeat #fff;
}

.leaflet-popup-content {
    text-align: left;
    word-wrap: break-word;
}